# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django & Database stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments (★가상환경 및 API Key 보안 관련 필수 제외)
.env
.venv
env/
venv/
ENV/

# PyCharm / VS Code / MyPy settings
.idea/
.vscode/
.mypy_cache/

# OS templates (시스템 임시 파일)
.DS_Store
Thumbs.db